body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: darkblue;
    background-color: whitesmoke;
}

/* headings and logo */

.sg h2,
h3 h4 {
    font-size: x-small;
    clear: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 0%;
    background-color: whitesmoke;
}

h1,
h2 {
    text-transform: uppercase;
    color: black;
}

header {
    background-color: whitesmoke;
}

#sg {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    margin-left: 20px;
    color: rgb(242, 52, 52);
    background-color: whitesmoke;
}

/* navigation links */


#menu li {
    list-style-type: none;
    text-align: right;
    float: right;
    padding: 2px;
    margin-right: 5px;
    margin-top: 0px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: blue;
}

.active {
    border-bottom: 1px solid blue;
}

/* award laurels */

#laurels {
    background-image: url(../images/SMOKING_GUNS_TT.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 100%;
    height: 600px;
}

#laurels img {
    display: inline;
    width: 150px;
    height: 76px;
    padding-left: 50px;
}

/* review */

#britflicks h2,
h3 {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

#britflicks p {
    margin: 20px;
    padding: 5px;
    font-weight: 400;
}

#britflicks a {
    text-decoration: none;
}

#britflicks a:hover {
    color: blue;
}

.britflicks_vid {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

/* media */
/* trailer*/

.trailer h2 {
    text-align: center;
    padding-top: 10px;
}

.trailer iframe {
    width: 560px;
    height: 315px;
}

.trailer {
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

/* posters*/

#photos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: whitesmoke;
}

.posters h2 {
    text-align: center;
}

.posters {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    background-color: whitesmoke;
    margin: auto;
}

.posters img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
}

/* streaming links */

#buy {
    text-align: center;
    margin-bottom: 5%;
    font-size: medium;
}

#buy a {
    padding: 20px;
    margin-bottom: 100px;
}

/* footer (code from love running */

footer p {
    text-align: center;
    color: black;
    font-weight: 100;
}

footer {
    max-height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks>li {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

@media screen and (max-width: 950px) {
    #menu li {
        list-style-type: none;
        float: right;
        padding: 2px;
        margin-left: 0;
        margin-top: 5px;
    }

    #menu a {
        text-decoration: none;
    }

    #menu a:hover {
        color: blue;
    }

    #laurels {
        text-align: center;
    }

    #laurels img {
        text-align: center;
        padding-top: 50%;
        max-width: 18%;
    }

    #photos {
        display: flex;
        flex: wrap;
    }

    .posters {
        flex: 100%;
        max-width: 100%;
        text-align: center;
        margin: auto;
    }

    .posters img {
        width: 100%;
        height: auto;
    }

    .trailer {
        width: 100%;
        height: auto;
    }

    .britflicks_vid {
        margin: auto;
    }

    .britflicks_vid iframe {
        width: 512px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    #menu li {
        clear: left;
        list-style-type: none;
        float: right;
        padding: 3px;
        margin: 0;
        margin-top: 0;
    }

    #menu a {
        text-decoration: none;
    }

    #menu a:hover {
        color: blue;
    }

    #laurels img {
        margin-left: 0;
        padding-top: 50%;
        text-align: center;
        max-width: 15%;
    }

    #photos {
        width: 100%;
        margin: auto;
    }

    .posters {
        width: 100%;
    }

    .posters img {
        width: 350px;
        height: auto;
        padding: 10px;

    }

    .trailer iframe {
        width: 350px;
        height: auto;
        text-align: center;
    }

    .britflicks_vid {
        text-align: center;
    }

    .britflicks_vid iframe {
        width: 350px;
        height: auto;
    }
}
@media screen and (max-width: 400px) {
        #laurels img {
        margin-left: 0;
        padding-top: 50%;
        text-align: left;
        max-width: 15%;
    }
}