
* {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: white;
}




header li {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 5px;

}

.sglogo img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: 20px auto;
}

.trailer h2 {
  text-align: center;
 
}

.trailer {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  margin: auto;
}

#britflicks p{
    margin: 20px;
    padding: 5px ;
}
.britflicks_vid {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  margin: auto;
}

#photos {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.posters h2 {
  text-align: center;
}

.posters {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: auto;

}

.posters img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* review */

#britflicks h2 {
  text-align: center;

}


/* amazon button code found codepen.io*/
#buy {
  text-align: center;
  margin-top: auto;
  
}
.amazon {
  background: #cf9f2b;
  border: 1px solid #4966a1;
  color: #000057;
  padding: 3px 12px;
  border-radius: 8px;
  
}


/* footer (code from love running */
footer {
  max-height: 150px;

}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks>li {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

@media screen and (max-width: 950px) {
  #photos {
    display: flex;
    flex: wrap;
    

  }

  .posters {
    flex: 50%;
    max-width: 50%;
    text-align: center;
    margin: auto;
   
  }
.posters img {
  width: 100%;
  height: auto;
}

  .trailer {
    width: 100%;
    height: auto;
  }
  .britflicks_vid{
    width: 100%;
    height: auto;
  }
}

@media screen  and (max-width: 800px) {

  

  #photos {
    display: flex;
    flex: wrap;
    

  }

  .posters {
    flex: 100%;
    max-width: 100%;
    
    
   
  }
.posters img {
    
  width: 100%;
  height: auto;
  padding: 10px;
  
  
}

  .trailer {
    width: 100%;
    height: auto;
  }
  
}

